
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="simulatorTemplateStyle.css">         
    </head>
    <header>
        <section class="header">
            <section class="neuronal-network-operations">
                <button class="neuronal-network-operation">Create Neuronal Network</button>
                <button class="neuronal-network-operation">Delete Neuronal Network</button>
                <button class="neuronal-network-operation">Upload Data Neuronal Network</button>
                <button class="neuronal-network-operation">Search  Neuronal Network</button>
            </section>
    </header>
    <body>
         <script src="https://cdn.jsdelivr.net/npm/three@0.152.2/build/three.min.js"></script>
         <script src="script.js"></script>
         <p>funciona</p>
    </body>
</html>